<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Think Type Racer</title>
  {{ style('style') }}
</head>

<body>
  <section>
    <div class="subtitle valign-wrapper">
      <p>Test your typing skill and knowledge</p>
    </div>
    <div class="google-btn" style="max-width: 250px;">
      <a href="{{ route('login.google') }}">
        <div class="google-icon-wrapper">
          <img class="google-icon-svg"
            src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
        </div>
        <p class="btn-text"><b>Continue with Google</b></p>
      </a>
    </div>
  </section>
</body>

</html>
